USE [bpoLabs]
GO
/****** Object:  Table [dbo].[IncreasesSalaries]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncreasesSalaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[IncreaseByRol] [int] NULL,
 CONSTRAINT [PK_IncreasesSalaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameRol] [varchar](50) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryRevision]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryRevision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[LastUpdateSalary] [datetime] NULL,
	[OldSalary] [decimal](18, 5) NULL,
	[NewSalary] [decimal](18, 5) NULL,
 CONSTRAINT [PK_SalaryRevision] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](550) NULL,
	[LastName] [varchar](550) NULL,
	[Email] [varchar](550) NULL,
	[PersonalAddress] [varchar](550) NULL,
	[Phone] [int] NOT NULL,
	[WorkingStartDate] [date] NULL,
	[Picture] [varbinary](max) NULL,
	[Rol] [int] NULL,
	[Salary] [decimal](18, 5) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IncreasesSalaries] ON 

INSERT [dbo].[IncreasesSalaries] ([Id], [IdRol], [IncreaseByRol]) VALUES (1, 1, 5)
INSERT [dbo].[IncreasesSalaries] ([Id], [IdRol], [IncreaseByRol]) VALUES (2, 2, 8)
INSERT [dbo].[IncreasesSalaries] ([Id], [IdRol], [IncreaseByRol]) VALUES (3, 3, 12)
SET IDENTITY_INSERT [dbo].[IncreasesSalaries] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [NameRol]) VALUES (1, N'Worker')
INSERT [dbo].[Rol] ([Id], [NameRol]) VALUES (2, N'Specialist')
INSERT [dbo].[Rol] ([Id], [NameRol]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryRevision] ON 

INSERT [dbo].[SalaryRevision] ([Id], [IdUser], [LastUpdateSalary], [OldSalary], [NewSalary]) VALUES (1, 3, CAST(N'2023-01-01T09:48:09.353' AS DateTime), CAST(3000000.00000 AS Decimal(18, 5)), CAST(3000000.00000 AS Decimal(18, 5)))
INSERT [dbo].[SalaryRevision] ([Id], [IdUser], [LastUpdateSalary], [OldSalary], [NewSalary]) VALUES (2, 4, CAST(N'2022-12-20T09:48:09.353' AS DateTime), CAST(7000000.00000 AS Decimal(18, 5)), CAST(7000000.00000 AS Decimal(18, 5)))
INSERT [dbo].[SalaryRevision] ([Id], [IdUser], [LastUpdateSalary], [OldSalary], [NewSalary]) VALUES (3, 5, CAST(N'2023-01-10T09:48:09.353' AS DateTime), CAST(9000000.00000 AS Decimal(18, 5)), CAST(9000000.00000 AS Decimal(18, 5)))
SET IDENTITY_INSERT [dbo].[SalaryRevision] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[IncreasesSalaries]  WITH CHECK ADD  CONSTRAINT [FK_IncreasesSalaries_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[IncreasesSalaries] CHECK CONSTRAINT [FK_IncreasesSalaries_Rol]
GO
ALTER TABLE [dbo].[SalaryRevision]  WITH CHECK ADD  CONSTRAINT [FK_SalaryRevision_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SalaryRevision] CHECK CONSTRAINT [FK_SalaryRevision_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Rol] FOREIGN KEY([Rol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Rol]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUsers]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cnino>
-- Create date: <2023/04/01>
-- Description:	<Delete a Employeer>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DeleteUsers]
	@userId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE FROM Users WHERE Id = @userId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EstimateNewSalaries]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cnino>
-- Create date: <2023/04/01>
-- Description:	<Estimate the new salaries>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EstimateNewSalaries]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @error bit
	SET @error = 0
	
	IF @error = 0
	BEGIN TRY 
		INSERT INTO SalaryRevision
		   SELECT
			u.Id AS IdUser, GETDATE() AS LastUpdateSalary,
			CASE WHEN(SELECT TOP 1 NewSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC) IS NULL
			THEN u.Salary ELSE (SELECT TOP 1 NewSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC) END AS OldSalary,
			CASE WHEN(SELECT TOP 1 LastUpdateSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC) IS NULL
			THEN u.Salary ELSE
			CASE WHEN DATEDIFF(MONTH, 
			(SELECT TOP 1 LastUpdateSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC),
			GETDATE()) >= 3
				THEN
				(SELECT TOP 1 NewSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC) + 
				((i.IncreaseByRol * (SELECT TOP 1 NewSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC))/100)	
				ELSE (SELECT TOP 1 NewSalary FROM SalaryRevision WHERE IdUser = u.Id ORDER BY LastUpdateSalary DESC) END END AS NewSalary
			FROM Users u 
			INNER JOIN Rol r ON u.Rol = r.Id
			INNER JOIN IncreasesSalaries i ON r.Id = i.IdRol
	END TRY  
	BEGIN CATCH  
		SET @error = 1  
	END CATCH;  

	SELECT @error
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUpdateEmployees]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cnino>
-- Create date: <2023/04/01>
-- Description:	<Insert or update employees in the database>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InsertUpdateEmployees]
	@Id int,
	@Name varchar(550),
	@LastName varchar(550),
	@Email varchar(550),
	@PersonalAddress varchar(550),
	@Phone int,
	@WorkingStartDate date,
	@Picture varchar(max),
	@Rol int,
	@Salary decimal(18,5)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SQL NVARCHAR(MAX)

	-- Variables to validate and to store information
	DECLARE @error bit
	SET @error = 0
	
	IF @error = 0
	BEGIN TRY 
		IF @ID = 0
		BEGIN
			SET @SQL = '
			INSERT INTO Users VALUES (''' +
			@Name + ''', ''' + @LastName + ''', ''' + @Email + ''', ''' + @PersonalAddress + ''', ' + CONVERT(VARCHAR(50),@Phone) + ', GETDATE(),
			(SELECT * FROM OPENROWSET(BULK N''' + @Picture + ''', SINGLE_BLOB) as T1), ' +
			CONVERT(VARCHAR(50),@Rol) + ',' + CONVERT(VARCHAR(50), @Salary) + ')'
		END
		ELSE
		BEGIN
			 SET @SQL = 'UPDATE Users SET
				Name = ''' + @Name +''',
				LastName = ''' + @LastName + ''',
				Email = ''' + @Email + ''',
				PersonalAddress = ''' + @PersonalAddress + ''',
				Phone = ' + CONVERT(VARCHAR(500),@Phone) + ',
				WorkingStartDate = ''' + CONVERT(VARCHAR(50),@WorkingStartDate) + ''',
				Picture = (SELECT * FROM OPENROWSET(BULK N''' + @Picture + ''', SINGLE_BLOB) as T1),
				Rol = ' + CONVERT(VARCHAR(50),@Rol) + ',
				Salary = ' + CONVERT(VARCHAR(50),@Salary) + ' WHERE Id = ' + CONVERT(VARCHAR(500), @Id)
		END
	END TRY  
	BEGIN CATCH  
		SET @error = 1  
	END CATCH;  

	PRINT @SQL

	EXECUTE sp_executesql @SQL

	SELECT @error
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListAllUsers]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<CNino>
-- Create date: <2023/04/01>
-- Description:	<List all users>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ListAllUsers] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT u.Id, u.Name, u.LastName, u.Email, u.PersonalAddress, u.Phone, u.WorkingStartDate, u.Rol, r.NameRol, u.Salary
	FROM Users u INNER JOIN Rol r ON u.Rol = r.Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Report_Increases]    Script Date: 2/04/2023 10:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cnino>
-- Create date: <2023/04/02>
-- Description:	<Report of all increases of the employees>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Report_Increases]
	@idUser int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT sr.IdUser, u.Name, u.LastName, u.Salary AS StartingSalary,  i.IncreaseByRol, sr.LastUpdateSalary, sr.OldSalary, sr.NewSalary
	FROM SalaryRevision sr 
	INNER JOIN Users u ON sr.IdUser = u.Id
	INNER JOIN Rol r ON u.Rol = r.ID
	INNER JOIN IncreasesSalaries i ON r.Id = i.IdRol
	WHERE IdUser = @idUser ORDER BY LastUpdateSalary
END
GO
